.ipynb_checkpoints/*
trained_models/*
data/*.tbl
.Rhistory
*.tbl
*.txt
Papers/*
lstm-synthetic-wave-anomaly-detect.py
plots/*
plots/*/*
plots/*/*/*
plots/*/*/*/*
Report/*
Presentation/*
shiny/*
exoplanet_db.sqlite
shiny/trained_models/*
shiny/data/*.tbl
shiny/util.R
shiny/exoplanet_db.sqlite
README.html
